body.fade-bg-animation{
    animation-duration: 5s;
    animation-name: bg_color_shift;
    animation-iteration-count: infinite;
    animation-direction:alternate;
}

.animdir_eg_1{
    animation-duration: 1s !important;
    animation-direction: normal;
}

@keyframes bg_color_shift {
    0%{
        background-color: #FACA9B;
    }

    50%{
        background-color: #FAA98E;
    }
    
    100%{
        background-color: #A7FABF;
    }
}

.anim_3d_img{
    animation-name: svg_repeating;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


@keyframes svg_repeating {
    from{
        height: 254px;
    }

    to{
        height: 16px;
    }
}