:root{

    --color-1: #dedad7;
    --color-2: #b5bfd0;
    --color-3: #e6e2d9;
    --color-4: #e1a8b1;
}

.theme-forest{
    --color-1: #bec3be;
    --color-2: #dfe2d9;
    --color-3: #b0beba;
    --color-4: #a7b2b1;
}


body.day_mode{

}

body.night_mode{
    /*the color theme for when night mode is selected */
}

body.type_base{
    /*styles regarding typographical properties, sans color*/
    /*font-family: 'Kanit', sans-serif;*/
    font-size: 32px;
}

.font_a{
    font-family: 'Kanit', sans-serif;
}

.font_b{
    font-family: 'Signika Negative', sans-serif;
}

